@CHARSET "UTF-8";

#login-logo
{
	background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
	width: 170px;
	height: 200px;
}
.login-facebook
{
	background:url(../img/facebook_signin_button.png) no-repeat center top; /* 150px x 22px */
	width: 150px;
	height: 22px;
}